<select id="image-picker">
  <optgroup label="Default">
    <option data-img-src="assets/icons/ic_quest_star.svg" value="ic_quest_star"></option>
  </optgroup>
  <optgroup label="Not in use">
    <option data-img-src="assets/icons/ic_quest_bicycle.svg" value="ic_quest_bicycle"></option>
    <option data-img-src="assets/icons/ic_quest_blind_traffic_lights.svg" value="ic_quest_blind_traffic_lights"></option>
    <option data-img-src="assets/icons/ic_quest_blind.svg" value="ic_quest_blind"></option>
    <option data-img-src="assets/icons/ic_quest_bridge.svg" value="ic_quest_bridge"></option>
    <option data-img-src="assets/icons/ic_quest_building_height.svg" value="ic_quest_building_height"></option>
    <option data-img-src="assets/icons/ic_quest_building.svg" value="ic_quest_building"></option>
    <option data-img-src="assets/icons/ic_quest_car_charger.svg" value="ic_quest_car_charger"></option>
    <option data-img-src="assets/icons/ic_quest_car.svg" value="ic_quest_car"></option>
    <option data-img-src="assets/icons/ic_quest_ferry.svg" value="ic_quest_ferry"></option>
    <option data-img-src="assets/icons/ic_quest_fuel.svg" value="ic_quest_fuel"></option>
    <option data-img-src="assets/icons/ic_quest_label.svg" value="ic_quest_label"></option>
    <option data-img-src="assets/icons/ic_quest_leaf.svg" value="ic_quest_leaf"></option>
    <option data-img-src="assets/icons/ic_quest_mail.svg" value="ic_quest_mail"></option>
    <option data-img-src="assets/icons/ic_quest_max_height.svg" value="ic_quest_max_height"></option>
    <option data-img-src="assets/icons/ic_quest_max_weight.svg" value="ic_quest_max_weight"></option>
    <option data-img-src="assets/icons/ic_quest_max_width.svg" value="ic_quest_max_width"></option>
    <option data-img-src="assets/icons/ic_quest_money.svg" value="ic_quest_money"></option>
    <option data-img-src="assets/icons/ic_quest_oneway.svg" value="ic_quest_oneway"></option>
    <option data-img-src="assets/icons/ic_quest_parking_maxstay.svg" value="ic_quest_parking_maxstay"></option>
    <option data-img-src="assets/icons/ic_quest_pedestrian.svg" value="ic_quest_pedestrian"></option>
    <option data-img-src="assets/icons/ic_quest_phone.svg" value="ic_quest_phone"></option>
    <option data-img-src="assets/icons/ic_quest_railway.svg" value="ic_quest_railway"></option>
    <option data-img-src="assets/icons/ic_quest_religion.svg" value="ic_quest_religion"></option>
    <option data-img-src="assets/icons/ic_quest_restaurant.svg" value="ic_quest_restaurant"></option>
    <option data-img-src="assets/icons/ic_quest_smoke.svg" value="ic_quest_smoke"></option>
    <option data-img-src="assets/icons/ic_quest_street_lanes.svg" value="ic_quest_street_lanes"></option>
    <option data-img-src="assets/icons/ic_quest_street_surface_paved_detail.svg" value="ic_quest_street_surface_paved_detail"></option>
    <option data-img-src="assets/icons/ic_quest_street_turn_lanes.svg" value="ic_quest_street_turn_lanes"></option>
    <option data-img-src="assets/icons/ic_quest_street_width.svg" value="ic_quest_street_width"></option>
    <option data-img-src="assets/icons/ic_quest_street.svg" value="ic_quest_street"></option>
    <option data-img-src="assets/icons/ic_quest_tractor.svg" value="ic_quest_tractor"></option>
    <option data-img-src="assets/icons/ic_quest_traffic_lights.svg" value="ic_quest_traffic_lights"></option>
    <option data-img-src="assets/icons/ic_quest_way_surface.svg" value="ic_quest_way_surface"></option>
    <option data-img-src="assets/icons/ic_quest_wifi.svg" value="ic_quest_wifi"></option>
  </optgroup>
  <optgroup label="In use">
    <option data-img-src="assets/icons/ic_quest_apple.svg" value="ic_quest_apple"></option>
    <option data-img-src="assets/icons/ic_quest_baby.svg" value="ic_quest_baby"></option>
    <option data-img-src="assets/icons/ic_quest_bicycle_parking_cover.svg" value="ic_quest_bicycle_parking_cover"></option>
    <option data-img-src="assets/icons/ic_quest_bicycle_parking.svg" value="ic_quest_bicycle_parking"></option>
    <option data-img-src="assets/icons/ic_quest_bicycleway.svg" value="ic_quest_bicycleway"></option>
    <option data-img-src="assets/icons/ic_quest_blind_bus.svg" value="ic_quest_blind_bus"></option>
    <option data-img-src="assets/icons/ic_quest_blind_pedestrian_crossing.svg" value="ic_quest_blind_pedestrian_crossing"></option>
    <option data-img-src="assets/icons/ic_quest_building_levels.svg" value="ic_quest_building_levels"></option>
    <option data-img-src="assets/icons/ic_quest_bus.svg" value="ic_quest_bus"></option>
    <option data-img-src="assets/icons/ic_quest_car_wash.svg" value="ic_quest_car_wash"></option>
    <option data-img-src="assets/icons/ic_quest_fire_hydrant.svg" value="ic_quest_fire_hydrant"></option>
    <option data-img-src="assets/icons/ic_quest_housenumber.svg" value="ic_quest_housenumber"></option>
    <option data-img-src="assets/icons/ic_quest_lantern.svg" value="ic_quest_lantern"></option>
    <option data-img-src="assets/icons/ic_quest_max_speed.svg" value="ic_quest_max_speed"></option>
    <option data-img-src="assets/icons/ic_quest_notes.svg" value="ic_quest_notes"></option>
    <option data-img-src="assets/icons/ic_quest_opening_hours.svg" value="ic_quest_opening_hours"></option>
    <option data-img-src="assets/icons/ic_quest_parking.svg" value="ic_quest_parking"></option>
    <option data-img-src="assets/icons/ic_quest_pedestrian_crossing.svg" value="ic_quest_pedestrian_crossing"></option>
    <option data-img-src="assets/icons/ic_quest_power.svg" value="ic_quest_power"></option>
    <option data-img-src="assets/icons/ic_quest_recycling.svg" value="ic_quest_recycling"></option>
    <option data-img-src="assets/icons/ic_quest_restaurant_vegetarian.svg" value="ic_quest_restaurant_vegetarian"></option>
    <option data-img-src="assets/icons/ic_quest_restaurant_vegan.svg" value="ic_quest_restaurant_vegan"></option>
    <option data-img-src="assets/icons/ic_quest_roof_shape.svg" value="ic_quest_roof_shape"></option>
    <option data-img-src="assets/icons/ic_quest_sport.svg" value="ic_quest_sport"></option>
    <option data-img-src="assets/icons/ic_quest_street_name.svg" value="ic_quest_street_name"></option>
    <option data-img-src="assets/icons/ic_quest_street_surface.svg" value="ic_quest_street_surface"></option>
    <option data-img-src="assets/icons/ic_quest_toilets.svg" value="ic_quest_toilets"></option>
    <option data-img-src="assets/icons/ic_quest_wheelchair_shop.svg" value="ic_quest_wheelchair_shop"></option>
    <option data-img-src="assets/icons/ic_quest_wheelchair.svg" value="ic_quest_wheelchair"></option>
  </optgroup>
</select>
