<!-- Modal for selecting an icon -->
<div id="select-icon" class="modal modal-fixed-footer">
  <div class="modal-content row">
    <h4>Select an icon</h4>
    <div id="image-picker-wrapper" class="col s12"></div>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-indigo btn-flat" id="select-icon-close-button">Close</a>
    <a class="modal-action modal-close waves-effect waves-indigo btn-flat" id="select-icon-button">Select</a>
  </div>
</div>

<!-- Modal for adding a new answer -->
<div id="add-new-answer" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Add a new answer</h4>

    <div class="row">
      <!-- The corresponding OSM value for this answer -->
      <div class="input-field col s12">
        <i class="mdi mdi-key prefix"></i>
        <input id="osm-value" type="text" name="osmValue" required>
        <label for="osm-value">OSM value which should be set for this answer</label>
      </div>

      <!-- The answer -->
      <div class="input-field col s12">
        <i class="mdi mdi-exclamation prefix"></i>
        <input id="answer" type="text" name="answer">
        <label for="answer">Answer</label>
      </div>

      <!-- Select an image -->
      <div class="file-field input-field col s12">
        <div class="btn indigo">
          <span><i class="mdi mdi-image left"></i>Select image</span>
          <input id="image-select" type="file" name="imageSelect" accept="image/*" required>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path" type="text">
        </div>
      </div>

      <!-- Preview the selected image -->
      <div id="preview-image" class="col s12 center"></div>
    </div>

  </div>
  <div class="modal-footer">
    <a class="modal-action waves-effect waves-indigo btn-flat" id="add-new-answer-close-button">Close</a>
    <a class="modal-action waves-effect waves-indigo btn-flat" id="add-new-answer-button">Add</a>
  </div>
</div>

<!-- Modal for adding an other answer -->
<div id="add-other-answer" class="modal">
  <div class="modal-content">
    <h4>Add other answer</h4>

    <div class="row">
      <!-- An other answer (hidden in a submenu) -->
      <div class="input-field col s12">
        <i class="mdi mdi-plus-circle prefix"></i>
        <input id="other-answer" type="text" name="otherAnswer">
        <label for="other-answer">Other answer</label>
      </div>

      <!-- The OSM value for the other answer -->
      <div class="input-field col s12">
        <i class="mdi mdi-exclamation prefix"></i>
        <input id="other-answer-value" type="text" name="otherAnswerValue">
        <label for="other-answer-value">OSM values for this answer</label>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <a class="modal-action waves-effect waves-indigo btn-flat" id="add-other-answer-close-button">Close</a>
    <a class="modal-action waves-effect waves-indigo btn-flat" id="add-other-answer-button">Add</a>
  </div>
</div>
